[submodule "F5-TTS"]
	path = F5-TTS
	url = https://github.com/SWivid/F5-TTS.git
[submodule "chatterbox/chatterbox"]
	path = chatterbox/chatterbox
	url = https://github.com/JarodMica/chatterbox.git
	ignore = dirty
