/* Redesigned Unified Narration Section Styles - Material Design 3 */
/* Modular CSS imports */

@import './base.css';
@import './layout.css';
@import './buttons.css';
@import './forms.css';
@import './radio-pills.css';
@import './audio.css';
@import './results.css';
@import './animations.css';
@import './responsive.css';
